.global-search{
    display: grid;
    width: 100%;
    height: 75px;
    top: 0;
    background: linear-gradient(180deg, var(--bg) 25%, transparent);
    // background: var(--bg);
    backdrop-filter: blur(0px);
    z-index: 99;
}