.pill{
    display: inline-grid;
    place-content: center;
    padding: 0px 12px;
    height: 32px;
    border: 1.5px solid var(--midGray);
    border-radius: 16px;
    grid-template-columns: 16px 1fr;
    width: auto;
    &.info{
        grid-template-columns: 1fr;
        background-color: var(--cream);
        border-color: transparent;
        margin: 5px;
    }
    .status-icon{
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: var(--green);
        place-self: center;
    }
    .status-label{
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: var(--textColorPrimary);
    }
}