.toggle{
    display: grid;
    grid-template-columns: auto auto 50px;
    .toggle-label{

    }
    .info{
        width: 20px !important;
        height: 20px !important;
        position: relative;
        svg{
            width: 100% !important;
            height: 100% !important;
        }
    }
    .icon-on{

    }
    .icon-off{

    }
    .switch{
        width: 50px;
        height: 100%;
        .switch-bg{
            height: 100%;
            width: 100%;
            background: var(--gradient);
            border-radius: 100px;
            position: relative;
            transition: background .25s ease-in-out;
        }
        .switch-toggle{
            transition: all .5s ease-in-out;
            width: 20px;
            height: 20px;
            background-color: var(--white);
            position: absolute;
            border-radius: 100px;
            margin: 2px 0 2px 2px;
        }
        .icon-on, .icon-off{
            position: absolute;
            display: none;
            margin-top: 2px;
            svg{
                width: 16px !important;
                height: 16px !important;
            }
            &.visible{
                display: block;
            }
        }
        .icon-on{
            left: 4px;
        }
        .icon-off{
            right: 4px;
        }
        @keyframes turnOn {
            0%{transform: translateX(2px); width: 20px;}
            50%{width: 30px;}
            100%{transform: translateX(24px); width: 20px;}
        }
        @keyframes turnOff {
            0%{transform: translateX(24px); width: 20px;}
            50%{width: 30px;}
            100%{transform: translateX(2px); width: 20px;}
        }
        &.on{
            .switch-toggle{
                animation: turnOn .40s ease-in-out forwards;
            }
            .icon-on{
                display: block;
            }
        }
        &.off{
            .switch-toggle{
                animation: turnOff .40s ease-in-out forwards;
            }
            .icon-off{
                display: block;
            }
        }
    }
    &:hover{

    }
}