h1, h2, h3, h4, h5, h6{
    --header-multiplier: 2.2;
    color: var(--text-color-primary);
    font-weight: 500;
    margin: 10px auto calc(10px * var(--header-multiplier)) auto;
    line-height: calc(var(--bodyFontSize) * var(--header-multiplier));
    font-size: calc(var(--bodyFontSize) * var(--header-multiplier));
    align-self: flex-start;
    width: 100%;
    @media screen and (max-width: 512px){
        // line-height: calc(var(--bodyFontSize) * calc(var(--header-multiplier) / 1.25));
        // font-size: calc(var(--bodyFontSize) * calc(var(--header-multiplier) / 1.25));
    }
    .counter{
        color: var(--textColorSecondary);
        font-size: 16px;
        margin-left: 5px;
    }
}
h2{
    --header-multiplier: 2;
}
h3{
    --header-multiplier: 1.8;
}
h4{
    --header-multiplier: 1.4;
}
h5{
    --header-multiplier: 1.2;
}
h6{
    --header-multiplier: 0.9;
}