.text-pre-loading{
    @keyframes placeholderLoader {
        0%{transform: translateX(100%); color: #99999911; opacity: 0; }
        50%{transform: translateX(0%); color: #99999999; opacity: 1;}
        100%{transform: translateX(-100%); color: #99999911; opacity: 0;}
    }
    @keyframes colorPlaceholder {
        0%{color: #99999911; }
        50%{color: #99999999;}
        100%{color: #99999911;}
    }
    min-width: 50px;
    min-height: 14px;
    // max-height: 32px;
    height: 100%;
    // width: attr(data-w px, 50px);
    display: inline-block;
    // background-color: var(--bgCardBorder);
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    opacity: .5;
    color: var(--textColorPrimary);
    // animation: colorPlaceholder 1s linear infinite;
    
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
        background-size: 100%;
        animation: placeholderLoader .75s linear infinite;
        z-index: 1;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
}
.gradient:has(.text-pre-loading){
    background: transparent !important;
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: var(--textColorPrimary) !important;
}