//- 
.onboarding(v-if="!showOrHideMainMenuOnThisPage()")

    //- 
    .nav-onboarding.animated.fadeInDown.delay-0-5s 
        .brand-onboarding
            img(class="standard", :src="'assets/images/' + store.theme + '/lace.svg'", alt="")
        button.help-and-support
            span
                .icon 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12.0001 8C10.5283 8 9.47159 8.70623 9.13224 9.4263C8.89681 9.92589 8.30095 10.14 7.80136 9.90458C7.30178 9.66914 7.08764 9.07329 7.32308 8.5737C8.08197 6.96338 9.98852 6 12.0001 6C13.3001 6 14.5155 6.39395 15.4285 7.07868C16.3418 7.76364 17.0001 8.78625 17.0001 10C17.0001 12.0693 15.166 13.5082 13.1827 13.8887C13.11 13.9026 13.0522 13.9386 13.0206 13.972C13.0064 13.9871 13.0014 13.9974 13.0002 14.0001C13.0002 14.0003 13.0001 14.0004 13.0001 14.0005C12.9998 14.5526 12.5522 15 12.0001 15C11.4478 15 11.0001 14.5523 11.0001 14C11.0001 12.8579 11.9097 12.0964 12.8059 11.9245C14.2788 11.6419 15.0001 10.7295 15.0001 10C15.0001 9.5569 14.7629 9.0795 14.2285 8.67868C13.6937 8.27763 12.9092 8 12.0001 8ZM11 17C11 16.4477 11.4477 16 12 16H12.01C12.5623 16 13.01 16.4477 13.01 17C13.01 17.5523 12.5623 18 12.01 18H12C11.4477 18 11 17.5523 11 17Z" fill="url(#paint0_linear_6610_345401)"/><defs><linearGradient id="paint0_linear_6610_345401" x1="-1.65957" y1="-1.65957" x2="27.6428" y2="0.501649" gradientUnits="userSpaceOnUse"><stop stop-color="#FF92E1"/><stop offset="1" stop-color="#FDC300"/></linearGradient></defs></svg>
                .label Help and support 
                .chevron
    //- .background-onboarding.animated.fadeIn.delay-0-8s(style="background-image: url('assets/images/background-onboarding.png')")

    //-
    .body-onboarding.animated.fadeIn

        //- 
        .main-window
            //- 
            h1.bold.animatedIntro
                TransitionGroup(name="fade")
                    div(vv-if="stage == 1", :key="1") Hello
                    div.gradient(:key="2") Web3
            Transition(name="fade")
                .stage-1
                    .content-column.animated.fadeIn.delay-4s
                        h1.bold.placeholder
                            div Hello
                            div.gradient Web3
                        h4
                            div.animated.fadeIn.delay-3-5s Choose an option to get started
                        .networks
                            div Compatible with
                            div 
                                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title/><circle cx="45.9" cy="63.84" r="7.82"/><circle cx="82.1" cy="63.84" r="7.82"/><circle cx="54.95" cy="79.51" r="7.82"/><circle cx="73.05" cy="48.17" r="7.82"/><circle cx="73.05" cy="79.51" r="7.82"/><circle cx="54.95" cy="48.17" r="7.82"/><circle cx="103.98" cy="64" r="4.1"/><circle cx="24.02" cy="64" r="4.1"/><circle cx="9.48" cy="64" r="2.6"/><circle cx="118.52" cy="64" r="2.6"/><circle cx="83.99" cy="29.37" r="4.1"/><circle cx="44.01" cy="98.63" r="4.1"/><circle cx="36.74" cy="111.21" r="2.6"/><circle cx="91.26" cy="16.79" r="2.6"/><circle cx="44.01" cy="29.37" r="4.1"/><circle cx="83.99" cy="98.63" r="4.1"/><circle cx="91.26" cy="111.21" r="2.6"/><circle cx="36.74" cy="16.79" r="2.6"/><circle cx="64" cy="32.71" r="4.72"/><circle cx="64" cy="14.05" r="3.23"/><circle cx="64" cy="95.29" r="4.72"/><circle cx="64" cy="113.95" r="3.23"/><circle cx="36.9" cy="48.36" r="4.72"/><circle cx="20.74" cy="39.02" r="3.23"/><circle cx="91.1" cy="79.64" r="4.72"/><circle cx="107.26" cy="88.98" r="3.23"/><circle cx="36.9" cy="79.64" r="4.72"/><circle cx="20.74" cy="88.98" r="3.23"/><circle cx="91.1" cy="48.36" r="4.72"/><circle cx="107.26" cy="39.02" r="3.23"/></svg>
                                <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title/><path d="M85.52,45.58l-43,24.85a5.24,5.24,0,0,1-5.2,0L23.55,62.5A5.2,5.2,0,0,1,21,58V42.14a5.2,5.2,0,0,1,2.6-4.5l13.73-7.93a5.24,5.24,0,0,1,5.2,0l13.73,7.93a5.2,5.2,0,0,1,2.6,4.5v7.61a1.3,1.3,0,0,0,1.94,1.13l7.15-4.13a2.59,2.59,0,0,0,1.29-2.25V36.14a5.21,5.21,0,0,0-2.59-4.5L42.48,17.72a5.19,5.19,0,0,0-5.2,0L13.16,31.64a5.2,5.2,0,0,0-2.6,4.5V64a5.2,5.2,0,0,0,2.6,4.5L37.28,82.42a5.19,5.19,0,0,0,5.2,0l43-24.85a5.24,5.24,0,0,1,5.2,0l13.73,7.93a5.2,5.2,0,0,1,2.6,4.5V85.86a5.2,5.2,0,0,1-2.6,4.5L90.72,98.29a5.24,5.24,0,0,1-5.2,0L71.79,90.36a5.2,5.2,0,0,1-2.6-4.5V78.24a1.29,1.29,0,0,0-1.94-1.12L60.1,81.24a2.6,2.6,0,0,0-1.29,2.25v8.37a5.21,5.21,0,0,0,2.59,4.5l24.12,13.92a5.19,5.19,0,0,0,5.2,0l24.12-13.92a5.2,5.2,0,0,0,2.6-4.5V64a5.2,5.2,0,0,0-2.6-4.5L90.72,45.58A5.19,5.19,0,0,0,85.52,45.58Z"/></svg>
                                <svg enable-background="new 0 0 226.777 226.777" height="226.777px" id="Layer_1" version="1.1" viewBox="0 0 226.777 226.777" width="226.777px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><polygon fill="#231F20" points="112.553,157 112.553,86.977 44.158,116.937  "/><polygon fill="#231F20" points="112.553,82.163 112.553,-0.056 46.362,111.156  "/><polygon fill="#231F20" points="116.962,-0.09 116.962,82.163 184.083,111.566  "/><polygon fill="#231F20" points="116.962,86.977 116.962,157.002 185.405,116.957  "/><polygon fill="#231F20" points="112.553,227.406 112.553,171.085 44.618,131.31  "/><polygon fill="#231F20" points="116.962,227.406 184.897,131.31 116.962,171.085  "/></g></svg>
                    .content-column.animated.fadeIn.delay-4s
                        .items
                            .select-option-item.animated.fadeInUp.delay-3-5s
                                .ico 
                                    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9998 7.16602V33.8327M33.3332 20.4993L6.6665 20.4993" stroke="url(#paint0_linear_19020_401772)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="paint0_linear_19020_401772" x1="1.78707" y1="2.28659" x2="40.8569" y2="5.16821" gradientUnits="userSpaceOnUse"><stop stop-color="#FF92E1"/><stop offset="1" stop-color="#FDC300"/></linearGradient></defs></svg>
                                .label 
                                    .title  New wallet
                                    .desc Create a new Lace wallet
                                button.primary Create
                            hr/
                            .select-option-item.animated.fadeInUp.delay-3-7s
                                .ico 
                                    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25 12.1667C26.8409 12.1667 28.3333 13.6591 28.3333 15.5M35 15.5C35 21.0228 30.5228 25.5 25 25.5C23.9897 25.5 23.0144 25.3502 22.0951 25.0715L18.3333 28.8333H15V32.1667H11.6667V35.5H6.66667C5.74619 35.5 5 34.7538 5 33.8333V29.5237C5 29.0817 5.17559 28.6577 5.48815 28.3452L15.4285 18.4049C15.1498 17.4856 15 16.5103 15 15.5C15 9.97715 19.4772 5.5 25 5.5C30.5228 5.5 35 9.97715 35 15.5Z" stroke="url(#paint0_linear_19020_401779)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="paint0_linear_19020_401779" x1="-0.489362" y1="0.0106457" x2="43.4642" y2="3.25247" gradientUnits="userSpaceOnUse"><stop stop-color="#FF92E1"/><stop offset="1" stop-color="#FDC300"/></linearGradient></defs></svg>
                                .label 
                                    .title Hardware wallet
                                    .desc Connect your hardware wallet
                                button.primary Connect
                            hr/
                            .select-option-item.animated.fadeInUp.delay-3-9s
                                .ico 
                                    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3332 18.8333V12.1667C13.3332 8.48477 16.3179 5.5 19.9998 5.5C23.6817 5.5 26.6665 8.48477 26.6665 12.1667M19.9998 25.5V28.8333M9.99984 35.5H29.9998C31.8408 35.5 33.3332 34.0076 33.3332 32.1667V22.1667C33.3332 20.3257 31.8408 18.8333 29.9998 18.8333H9.99984C8.15889 18.8333 6.6665 20.3257 6.6665 22.1667V32.1667C6.6665 34.0076 8.15889 35.5 9.99984 35.5Z" stroke="url(#paint0_linear_19020_401786)" stroke-width="2" stroke-linecap="round"/><defs><linearGradient id="paint0_linear_19020_401786" x1="1.78707" y1="0.0106457" x2="40.9013" y2="2.575" gradientUnits="userSpaceOnUse"><stop stop-color="#FF92E1"/><stop offset="1" stop-color="#FDC300"/></linearGradient></defs></svg>
                                .label 
                                    .title Restore wallet
                                    .desc Enter your recovery phrase
                                button.primary(@click="popupRestore = true;") Restore
            Transition(name="fade")
                
                //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                .stage-2(v-if="stage >= 2")

                        .content-column
                            .timeline 
                                .point.animated.fadeInUp.delay-0-5s(:class="stage >= 3 ? 'path-done' : ''")
                                    .selection.selected
                                    .label Legal & Analytics
                                //- .point.animated.fadeInUp.delay-0-5s(:class="stage >= 4 ? 'path-done' : ''")
                                //-     .selection(:class="stage >= 3 ? 'selected' : ''")
                                //-     .label Analytics
                                .point.animated.fadeInUp.delay-0-6s(:class="stage >= 4 ? 'path-done' : ''")
                                    .selection(:class="stage >= 3 ? 'selected' : ''")
                                    .label Wallet setup
                                .point.animated.fadeInUp.delay-0-7s(:class="stage >= 5 ? 'path-done' : ''")
                                    .selection(:class="stage >= 4 ? 'selected' : ''")
                                    .label Recovery phrase
                                .point.animated.fadeInUp.delay-0-8s
                                    .selection(:class="stage >= 5 ? 'selected' : ''") 
                                    .label All done
                        
                        .content-column.animated.fadeIn.delay-1s
                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            .content-stage(v-if="stage == 2")
                                h2 Lace terms of use
                                .content-section
                                    include terms.pug
                                    span.col-input
                                        span
                                            <svg class="feather feather-chevron-down" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"/></svg>
                                    div.know-more-privacy.animated.fadeInUp
                                        div.title-know-more Your privacy it's important to us
                                        ul 
                                            li 
                                                span
                                                    <svg v-if="helpImprove" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 13L9 17L19 7' stroke='#2CB67D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg> 
                                                    <svg v-if="!helpImprove" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                span Lace will  collect pseudonymous analytics info
                                            li 
                                                span
                                                    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                span Not access your private keys
                                            li 
                                                span
                                                    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                span Not record your IP address
                                            li 
                                                span
                                                    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                span Not sell your personal data
                                    div.col-input
                                        label.improve-input
                                            span
                                                input(type="checkbox", :checked="true", v-model="helpImprove")
                                                span Help to improve Lace's user experience
                                            .info
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#C0C0C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                                span.required-label Optional
                                    
                                    div 
                                        label.terms-input(:style="!termsChecked ? 'background-color: #FDC30022;' : ''")
                                            span
                                                input(type="checkbox", v-model="termsChecked")
                                                span I accept the terms of use
                                            .info(vv-if="!termsChecked")
                                                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.884 2.532c-.346-.654-1.422-.654-1.768 0l-9 17A.999.999 0 0 0 3 21h18a.998.998 0 0 0 .883-1.467L12.884 2.532zM13 18h-2v-2h2v2zm-2-4V9h2l.001 5H11z"/></svg>
                                                span.required-label Required to continue
                                    .padding(style="height: 20px;")
                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            .content-stage.animated.toggleInUp(v-if="stage == 3")
                                h2 Let's setup your new wallet
                                br/
                                .content-section
                                    span Choose a name to help you identify your wallet.
                                    label
                                        input(type="text", placeholder="Wallet name", v-model="walletName")/
                                br/
                                span  Set up your password
                                .content-section.passwd
                                    label
                                        input(type="password", placeholder="Password", v-model="password")/
                                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ant-input-password-icon" data-testid="password-input-show-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.512 12a9.004 9.004 0 0 0 16.977 0 9.004 9.004 0 0 0-16.977 0Zm-2.008-.3C2.906 7.238 7.074 4 12 4c4.927 0 9.095 3.238 10.497 7.7a1 1 0 0 1 0 .6C21.095 16.762 16.927 20 12 20c-4.927 0-9.095-3.238-10.497-7.7a1 1 0 0 1 0-.6ZM12 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-4 2a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" fill="#878E9E"></path></svg>
                                        .score(:class="password.length < 3 ? (password.length < 1 ? 'none' : 'low') : (password.length < 5 ? 'medium' : (password.length >=7 ? 'great' : 'high'))")
                                            .bar 
                                            .bar 
                                            .bar  
                                            .bar 
                                        span(v-if="password.length > 0")
                                            .feedback-passwd(:class="password.length < 3 ? 'red' : 'green'") 
                                                span 
                                                    <svg v-if="password.length < 3" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                    <svg v-if="password.length >= 3" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 13L9 17L19 7' stroke='#2CB67D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg> 
                                                span Add more numbers and characters.
                                            .feedback-passwd(:class="password.length < 5 ? 'red' : 'green'") 
                                                span 
                                                    <svg v-if="password.length < 5" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                    <svg v-if="password.length >= 5" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 13L9 17L19 7' stroke='#2CB67D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg> 
                                                span Use a longer pattern with more turns.
                                            .feedback-passwd.green(:class="password.length < 7 ? 'red' : 'green'") 
                                                span 
                                                    <svg v-if="password.length < 7" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                    <svg v-if="password.length >= 7" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 13L9 17L19 7' stroke='#2CB67D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg> 
                                                span Your password is super strong.
                                    label
                                        input(type="password", placeholder="Confirm Password", v-model="checkpassword")/
                                        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ant-input-password-icon" data-testid="password-input-show-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.512 12a9.004 9.004 0 0 0 16.977 0 9.004 9.004 0 0 0-16.977 0Zm-2.008-.3C2.906 7.238 7.074 4 12 4c4.927 0 9.095 3.238 10.497 7.7a1 1 0 0 1 0 .6C21.095 16.762 16.927 20 12 20c-4.927 0-9.095-3.238-10.497-7.7a1 1 0 0 1 0-.6ZM12 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-4 2a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" fill="#878E9E"></path></svg>
                                        .score(:class="checkpassword.length < 3 ? (checkpassword.length < 1 ? 'none' : 'low') : (checkpassword.length < 6 ? 'medium' : (checkpassword.length >=7 ? 'great' : 'high'))")
                                            .bar 
                                            .bar 
                                            .bar 
                                            .bar 
                                        .feedback-passwd(v-if="checkpassword.length > 0")
                                            span 
                                                    <svg v-if="checkpassword.length < 5" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='#FF5470'/></svg>
                                                    <svg v-if="checkpassword.length >= 5" width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 13L9 17L19 7' stroke='#2CB67D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg> 
                                            span
                                                span.red(v-if="checkpassword.length < 5") Ops! the password don't match.
                                                span.green(v-if="checkpassword.length >= 5") It's a match!.
                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            .content-stage.animated.toggleInUp(v-if="stage == 4")
                                h2 Recovery phrase
                                .content-section
                                    span Enter each word of your recovery phrase in the right order.
                                    //- span Enter each word of your recovery phrase in the right order.
                                .tabs 
                                    .tab(@click="tabRecovery = 1;", :class="tabRecovery == 1 ? 'active' : ''") 12-word
                                    .tab(@click="tabRecovery = 2;", :class="tabRecovery == 2 ? 'active' : ''") 15-word
                                    .tab(@click="tabRecovery = 3;", :class="tabRecovery == 3 ? 'active' : ''") 24-word
                                .input-passphrase(@click="focusRecovery()")
                                    .textarea-recovery 
                                        .item-rec(v-for="(w, i) in wordsRecovery")
                                            span.bold {{i+1}}.
                                            span &nbsp;{{w}}
                                        label
                                            input(autocomplete="off", placeholder="Type here",type="text", id="txtrecovery", v-model="addWord", @focus="showSugestions = true;", @blur="showSugestions = false; addWord = ''", @keyup.enter="showSugestions = false; addWord = '';")
                                            .auto-complete.animate.toggleInUp(v-if="showSugestions")
                                                .item(v-for="f in suggestionsRecovery") {{f}} 
                                                //- item(v-for="f in filterSuggestions()")

                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            .content-stage.animated.toggleInUp(v-if="stage == 5")
                                h2 Hurray! All done :)
                                .content-section
                                    span It's time to start your Web3 journey. Plus you can follow us to stay up to date on all our latest news and content.
                                    .padding(style="height: 50px;")
                                    .follow 
                                        .ico 
                                            <svg width="1em" height="1em" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.29 17.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0 0 20 2.92a8.19 8.19 0 0 1-2.357.646 4.118 4.118 0 0 0 1.804-2.27 8.224 8.224 0 0 1-2.605.996 4.107 4.107 0 0 0-6.993 3.743 11.65 11.65 0 0 1-8.457-4.287 4.106 4.106 0 0 0 1.27 5.477A4.073 4.073 0 0 1 .8 6.713v.052a4.105 4.105 0 0 0 3.292 4.022 4.095 4.095 0 0 1-1.853.07 4.108 4.108 0 0 0 3.834 2.85A8.232 8.232 0 0 1 0 15.407a11.616 11.616 0 0 0 6.29 1.84" fill="currentColor"></path></svg>
                                        span Follow us on Twitter 
                                        .chevron
                                            <svg width="1em" height="12px" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="SocialLink-module_arrow__II2PS"><path fill-rule="evenodd" clip-rule="evenodd" d="M.293 9.707a1 1 0 0 1 0-1.414L3.586 5 .293 1.707A1 1 0 0 1 1.707.293l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0Z" fill="currentColor"></path></svg>
                                    .follow 
                                        .ico 
                                            <svg width="1em" height="1em" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.498 2.963a3.067 3.067 0 0 0-.775-1.37 3.007 3.007 0 0 0-1.346-.795C19.505.286 12 .286 12 .286s-7.505 0-9.376.512c-.51.14-.975.414-1.347.794-.372.38-.64.853-.775 1.37C0 4.873 0 8.858 0 8.858s0 3.986.502 5.895c.135.517.403.99.775 1.37.372.38.837.654 1.347.795 1.871.512 9.376.512 9.376.512s7.505 0 9.377-.512c.51-.14.974-.415 1.346-.795.373-.38.64-.852.775-1.37C24 12.842 24 8.857 24 8.857s0-3.986-.502-5.894ZM9.546 12.475V5.24l6.272 3.618-6.272 3.618Z" fill="currentColor"></path></svg>
                                        span Follow us on Youtube 
                                        .chevron
                                            <svg width="1em" height="12px" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="SocialLink-module_arrow__II2PS"><path fill-rule="evenodd" clip-rule="evenodd" d="M.293 9.707a1 1 0 0 1 0-1.414L3.586 5 .293 1.707A1 1 0 0 1 1.707.293l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0Z" fill="currentColor"></path></svg>
                                    .follow 
                                        .ico 
                                            <svg width="1em" height="1em" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.47 1.453A18.968 18.968 0 0 0 14.79.001a.071.071 0 0 0-.075.036 13.2 13.2 0 0 0-.583 1.197 17.51 17.51 0 0 0-5.258 0A12.119 12.119 0 0 0 8.28.037.074.074 0 0 0 8.205 0a18.914 18.914 0 0 0-4.681 1.452.067.067 0 0 0-.031.027C.51 5.934-.306 10.28.095 14.57a.079.079 0 0 0 .03.055 19.075 19.075 0 0 0 5.743 2.903c.03.009.062-.002.08-.027.443-.604.838-1.24 1.176-1.91.02-.04 0-.086-.04-.102a12.566 12.566 0 0 1-1.794-.855.074.074 0 0 1-.008-.123c.121-.09.242-.184.357-.279a.071.071 0 0 1 .074-.01c3.764 1.719 7.84 1.719 11.559 0a.07.07 0 0 1 .075.01c.115.094.236.19.357.28a.074.074 0 0 1-.006.122 11.79 11.79 0 0 1-1.795.854.073.073 0 0 0-.039.102c.345.67.74 1.306 1.174 1.91.018.026.05.037.08.028a19.01 19.01 0 0 0 5.753-2.903.073.073 0 0 0 .03-.053c.48-4.961-.803-9.271-3.4-13.091a.059.059 0 0 0-.03-.028ZM7.687 11.958c-1.133 0-2.067-1.04-2.067-2.318s.915-2.318 2.067-2.318c1.16 0 2.085 1.05 2.067 2.318 0 1.277-.916 2.318-2.067 2.318Zm7.642 0c-1.133 0-2.067-1.04-2.067-2.318s.916-2.318 2.067-2.318c1.16 0 2.085 1.05 2.067 2.318 0 1.277-.906 2.318-2.067 2.318Z" fill="currentColor"></path></svg>
                                        span Follow us on Discord 
                                        .chevron
                                            <svg width="1em" height="12px" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="SocialLink-module_arrow__II2PS"><path fill-rule="evenodd" clip-rule="evenodd" d="M.293 9.707a1 1 0 0 1 0-1.414L3.586 5 .293 1.707A1 1 0 0 1 1.707.293l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0Z" fill="currentColor"></path></svg>
                            //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                
                            .button-area.fadeIn.delay-1s
                                button.tertiary(@click="changeStageTo('back')") Back 
                                span
                                    //- button.tertiary(@click="changeStageTo(4, false)", v-if="stage == 3", style="margin: auto") 
                                        span Skip
                                span
                                    button.purple(v-if="stage >= 2", @click="changeStageTo('next')", :disabled="nextShouldBeEnabled()") 
                                        span(v-if="stage > 2 && stage != 5") Next
                                        span(v-if="stage == 2 && stage != 5") Next
                                        span(v-if="stage == 5") Go to my wallet
                                    //- .tooltip(v-if="(!termsChecked && stage == 2)") Please read and accept the terms
                //- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


            //- 
            //- 
            //- 
            Transition(name="fade")
                .modal-restore-overlay(v-if="popupRestore")
                    .background-overlay 
                    .floating-window
                        .title Restoring a multi-address wallet?
                        .desc If you're restoring a wallet created in another application, you may find some of your assets are not visible. Don't worry. Create a new wallet and send your assets to your new Lace wallet address and everything should be visible again.
                        .buttons 
                            button.tertiary(@click="popupRestore = false;") Cancel 
                            button.purple(@click="changeStageTo(2, false);") OK
            //- 
            //- 
            //- 
        //- 
        
    //-

    .footer-onboarding.animated.fadeIn.delay-2s
        .links
            a() Cookie policy
            a() Private policy
            a() Terms of use
    //-
//- 